<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PIMO Play</title>
  </head>
  <body>
    <div class="mb-5 flex space-x-4 items-baseline bg-black text-white">
        <div class="m-5 font-sans text-4xl font-bold">PIMO Play</div>
        <div class="text-slate-200 text-sm">A playground for <a href="https://github.com/CGI-FR/PIMO/tree/{{version}}" class="hover:underline">pimo {{version}}</a></div>
        <div class="grow"></div>
    </div>

    <div class="px-4 md:px-8 lg:px-16">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:gap-8">

        <div class="flex flex-col">
          <div class="flex-none font-sans text-xl pb-2">Masking Configuration</div>
          <div class="grow shadow-lg h-[300px] md:h-[600px]" id="editor-yaml"></div>
        </div>

        <div class="flex flex-col">
          <div class="flex-none font-sans text-xl pb-2">Input</div>
          <div class="grow shadow-lg h-[300px] md:h-full" id="editor-json"></div>

          <div class="flex-none font-sans text-xl py-2" id="label-output">Output</div>
          <div class="grow shadow-lg h-[300px] md:h-full" id="result-json"></div>
        </div>

      </div>

      <div class="flex-none font-sans text-lg text-red-500" id="result-error"></div>
    </div>

  </body>
</html>
