<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PIMO Play</title>
  </head>
  <body>
    <div class="mb-5 flex space-x-4 items-baseline bg-black text-white">
      <div class="m-5 font-sans text-4xl font-bold">PIMO Play</div>
      <div class="text-slate-200 text-sm">
        A playground for
        <a href="https://github.com/CGI-FR/PIMO/tree/{{ version }}" target="_blank" rel="noopener noreferrer" class="hover:underline">pimo {{ version }}</a>
      </div>
      <div class="grow"></div>
    </div>

    <div class="px-4 md:px-8 lg:px-16">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:gap-8">
        <div class="flex flex-col">
          <div class="flex-none font-sans text-xl pb-2">Masking Configuration</div>
          <div class="grow shadow-lg h-[300px] md:h-[600px]" id="editor-yaml"></div>
        </div>

        <div class="flex flex-col">
          <div class="flex-none font-sans text-xl pb-2">Input</div>
          <div class="grow shadow-lg h-[300px] md:h-full" id="editor-json"></div>

          <div class="flex-none font-sans text-xl py-2" id="label-output">Output</div>
          <div class="grow shadow-lg h-[300px] md:h-full" id="result-json"></div>
        </div>
      </div>

      <div class="flex-none font-sans text-lg text-red-500" id="result-error"></div>

      <div class="flex flex-col md:flex-row mt-5 gap-2 justify-evenly">
        <div>
          <h3 class="text-lg">Data Generation</h3>
          <a
            class="text-blue-400 text-sm underline block"
            href="/?c=MQAgKgFglgziCmAPAhgWwA4Bt4hhA9gO4gHEAu+u82AxmSAG7KYCu8cAZgE76ohfwO8AQDsyUZjABQoAIL9Bw+GImYQNZCJAAjHMhCZ8GtRyjYANCH2F42hTHwsuNHPi5WQABQCSAWQDyIFBiwiLMCkKi4swy4BBKQXD6QsQCkcrRmHDoyDQA1vAAJkEiMFCFOGTxIABE6FCo+DU6wchcAJ6WsRxuCCgY2CD1jQBcAPRjYajwAKIAcur4YsjBSQaw9PgcCCIA5piwECBT7AB0UlIMwmVLI7UAjDVSqMgwecG7IxcgIKCmXDB6NgyABybJQfIgFjoDxcTSFXjHNA4biI-QHQEgLZI6bSH6gKo4E4gQhmNS6dQCZBkIolMoVDymajFE7FGr-QEAfROT3xIEJIA59Beb1qyEKhWasGO8CKtIoVgl-OqTMwxWCypwACkAMr+BaOMjoFhkKR83QaFgwHA2ElkkC7KBXKxaeAYMjtEC6-UlY30BXDfBm36amWIYWvPJ2zBqa20ej6OEiBF8JisHAagU1E4AMQASs00koVDEfgBaKjxtxfH61kAAKwcIhyVTu7KgALI3ORvNrIryMBrdZAFfFhTbvbrFaTKYAwgQIfBvCIAKpcKBtwPjSbI-NPYOgGDIxYiFzoMicXoCzCvegnSzaE12qogQpQDjpMQRYuZF3FVUssieIjpW8B0NWwZ1o2SwthAbY3lyPKQSA-aDsh5aKuOtSTrW07wrw874Iuy5rhutRbhMMBOLmBbfCGApuisJhQMy0bkjgNC8H6tKonwAroAIDBQI4cBpmwwEEpQCLKrAli2laei4B8gz9li2weugOA1DSAzUvAvYEtUOlYHp-LIAUawVDANDruewlaNipD8pQj5mMUAoCFRmD0GJKI8Hw+CEu4AGMMw4kHoKvSNAIJQ9FwLziEsIB3BAZBGoOEzaIYuynLs+DoPEcIaBUqDtKcnGoGM4pXGIZYAEwAAz3AA7GMVofGWeVlsZN40jAYwRYYNjuPCIBzPgsg0C4X5tCiLCnolpSWIGfQ0smcACnl-JuiZfXPkcSBkHCgrzXQ9kSZF7jRRmIhxQl9nJSQaXoBlYwijS8XBIUMC5VAVQsNopzCWMMACVAuwDRhcZgRQXBDlBTawW2jFmDh-bw7WY5tgA3tjICnEK3bTCAAA+BhEMIpNjRNU0ZCAAC+9OnLj+MIV2xJk0NlNk+Nk3TfQjMAALtPlLxmATXBPEAA&i=N4XyA"
            >Generate first name, last name and email from referentials</a
          >
          <a
            class="text-blue-400 text-sm underline block"
            href="/?c=MQAgKgFglgziCmAPAhgWwA4Bt4hhA9gO4gHEAu+IAxgE7zJk4B28xAbspgK7xxkQMQmfPgDWcTFFE46nEB268AUKADqOLjBzIQAWWQ1R+NtQFQmICiAAmlfrAA0l6HFghkFzgHN8NKP1RnQSoPEAAjHDIaZHN4axB8C1lMGwZkJSU2eBoYKESALhAAIgBGIqVUZBhRcy98jJAQUH4cSsNjEErqkEIoTBSveBZoxnd5Th4gshA3XNQ+g0tKBR5XCxaQLygspPgAM2yhsihOJUbQCEOeyOjzZ1aDIxNUfGt4FN7+ECY0XhmmKjcN7xO5FdBQF75AD0UJgXBoP1Q8AAYgAlIogM4gAC0uHe8CoFBo9UapJAACsYIl0AwIIUinsoDkyAB9RHwcpkrriElknHuazWemcvm4tpPXl80kwNBYeD08GQmFwhG-NHlLGgGVI6iJKjwdBkOB7Xz3IRVabspxhLjTT4QGxQPYHOhMaZ0F1HE4pDzxRnveLsmBY3FabCE3yS0mU6m0+mYC1s34ixrcmBRxq45CC4VYslix7GDN87VyhUQ-DQqHs9UNJpm+CVPogf2YeK9frhHBUfAYW1xFs0Xtm9B0Nh5TTjRTB85LGx2FxOQgaLRjXJMLzYTpVUQJPaWACe6BwRUYGATjBFzUulkbWAYkWQ0jgOjeMFoUENeQs+H3pDnNp9PEGx0HCmDTCsOB7EOgT4C0NAtlAAZTqsmotqaLx0P8Jo0JUxyJCAhQQGQZDoOmMJhMIXgAHQ+OglzRCEbyoAe1E9qgULZjsZDYgATAADCUADsUKaLU2I+NiZ73owMBQmhwjLghvogAAcvgACCVD6m67hYXsXAAvhTAwE4iqUEgjBMNYfA3j4t7ng+cD2ggiBRDoBlGd+M71jhnS+Dg5g4Xh36ESQJFkVWXSMLh5g2bR-gQFwYTUXksKjlAXjyZmeLhkSxYxkwNL8PSjYxJgKbbtUxbZkKxQAN71SA1GMsySY6gAPkIRDZCAXXqVpOnTF1cJhDAUQgPxIAlCAAC+s3UY1zUJuN7U4F1im9f1mnaUcc2zQAAge+DoE2mAtTQ5RAA&i=N4XyA"
            >Generate first name, last name and email from sample data</a
          >
          <a
            class="text-blue-400 text-sm underline block"
            href="/?c=MQAgKgFglgziCmAPAhgWwA4Bt4hhA9gO4gHEAu+IA5vAHbwBOyZOAZsgNY4xkNS1UQAN2SYArvDhkIzEA0np4AYzIhkIVvgapmAKFAB1HISiZM1Oo2Y50BeiFpjUAI0ZwAFADEmtJTmS0ACYgAKoAdADKYRpaOmQwAJQgYjD8gtI4AETyNIiZIDowHLq6Qm5Q+LQAXCCZAIyZuoUcaVUlICAAtLjw2CpabR1DIABWMJXozBA1mbaV8AD6rAyNw80wg8NdaoGBM6tb3TlIMwAMANp1nQBsALruIOennQCctwDeAEwAvgnvACzfRq6DrdGC9ZQUBibYZjCZTGZzegLFIHDrrGFDbrIXb7EGHOTwXIzc7uW5PV4fADM33OCVuj2eb3eNM6FOZgMaQA&i=N4XyA"
            >Generate a fake phone number</a
          >
          <a
            class="text-blue-400 text-sm underline block"
            href="/?c=MQAgKgFglgziCmAPAhgWwA4Bt4hhA9gO4gHEAu+IA5vAHbwBOyZOAZsgNY4BEAcgJIAlbiAAUrBnQDGEEFKhkoALzogoAEzqLWUKcyj5aIWgFdUAI0YBKAFChIOAYLVwp+DNkQhLekzBwKCLRumiBkEDjmUAzhIOrM8AA0uEggyLTqJMhwAEwAtOpQVIFutGQM+JjGZpYMNjYAbowwBrQAXCDcOdw2qNkcULRUbfUgIKD+2FJkaSBMGe7UdJp1Y3kpUxQMICNjeyAAVjCG6MwQHdw0GYw9+30wHDC7+yDryOrqF7cv6-Pq7gBhAi6eDPF6vToAWW+4PW3AAYj0bGMJvBNrM-osojFZPEWMiIZN4NN8AwwXsjiczhdseEAPp4+AwkD3R7ktZpD5fAn7X7pdQAEQS7JejMhgwuAEYAJwAVgADHl5ZKlZKwPL5W0NVr5QAtZngsXIRAXHLys2q1XqzXajX6nl7daMgAKyAY-jJDvB+BMZHQvvhpL6ZAu5oA9Mqw2b5QA2JEojbEmbIOb8xaaU4xVBaaoWRgE9ZEkme8GU2incIXDNusjZsp0kJMh2sp5eiHvT6dA0QzGofhlEV3CUgSVtu7GjrS6WjcaJ6YYtOoOQKACeudqBbnWxFZYr5068jIK4b+E0zJbIreXK7bb5Cz7A7He1Qw9H4PHJpAU+nBNR6JTvYgKSKybkW25tru1KdMBNzNv0rawpynbcN2d7-A+IZPmML7tCOWEshOX5TjOoClHoMzwE0DAruEgxUGElBSJICRhBEIA6O6MyZjM+CsKxjhCKBaJJqSOwQcc5ZQdwtDRHSMBkDW579CKHZ5OU6QtFoHQAOQAN66VAfHwAAjiAAB0VwrFCIgAL42ZK+lov4dk5I5GR2fpZm0hADIsQAPrgJjmPJ2wABwjvKHm6V50T0oyIABTAQUhSAADMICylFZnVlmWgnqEAXoAwgxkHx3AAKTmuo3BZYex6NglIBFSVZWVal1VZTB2yFcVZStfK7U1TZ2nIr+cjuP6LBpBk43BMw-EgPkhTFDMpTlJU675hyYGkjuEl7hcMkMCeZQVJgSkPCpHxqfMmkDiAem6YF5hfgA7GIqCnmIJUxgALOZR1yQpMRWGM0qvVYdkjWNOi0MgmCYGu4Q4A08MaOxkjBLITggAAhEJmy7eJVKVp0R0XRwV2do9ZmA-JNZZYDa1nVDNhAA&i=N4XyA"
            >Generate a valid NIR (french citizen identification number)</a
          >
          <a class="text-blue-400 text-sm underline block" href="#">Generate a valid SIRET (french business identification number)</a>
        </div>
        <div>
          <h3 class="text-lg">Data Anonymization</h3>
          <a class="text-blue-400 text-sm underline block" href="#">Remove a value</a>
          <a class="text-blue-400 text-sm underline block" href="#">Replace by a constant</a>
          <a class="text-blue-400 text-sm underline block" href="#">Anonymize a value but preserve null, emty or blank values</a>
          <a class="text-blue-400 text-sm underline block" href="#">Anonymize a technical ID (like a plate number)</a>
        </div>
        <div>
          <h3 class="text-lg">Data Pseudonymization</h3>
          <a class="text-blue-400 text-sm underline block" href="#">Add noise to data</a>
          <a class="text-blue-400 text-sm underline block" href="#">Preserve coherence with a hash</a>
          <a class="text-blue-400 text-sm underline block" href="#">Preserve coherence and enable reversibility with a cache</a>
          <a class="text-blue-400 text-sm underline block" href="#">Preserve coherence and enable reversibility with encryption</a>
        </div>
        <div>
          <h3 class="text-lg">Other</h3>
          <a class="text-blue-400 text-sm underline block" href="#">Multiple mask and/or multiple selector syntax</a>
          <a class="text-blue-400 text-sm underline block" href="#">Preserve null and/or empty values</a>
          <!-- <a class="text-blue-400 text-sm underline block" href="#">Seed parameter</a>
          <a class="text-blue-400 text-sm underline block" href="#">Caches</a> -->
          <a class="text-blue-400 text-sm underline block" href="#">Change date formats</a>
          <a class="text-blue-400 text-sm underline block" href="#">Apply a template on each value of arrays</a>
          <a class="text-blue-400 text-sm underline block" href="#">How to handle nested/complex structure</a>
          <a class="text-blue-400 text-sm underline block" href="#">Parse raw JSON</a>
          <a class="text-blue-400 text-sm underline block" href="#">Temporary fields</a>
          <a class="text-blue-400 text-sm underline block" href="#">Generate sequences</a>
        </div>
      </div>
    </div>
  </body>
</html>
