<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PIMO Play</title>
  </head>
  <body>
    <div style="padding: 3px; font-family: system-ui; font-size: xx-large; font-weight: bold;">PIMO Play</div>
    <div class="editor-row" style="display: flex">
      <div class="editor-column" style="flex: 50%">
        <div style="padding: 3px; font-family: system-ui; font-size: x-large;">Masking Configuration</div>
        <div id="editor-yaml" style="width: 90%; height: 650px; padding: 10px;"></div>
      </div>
      <div class="editor-column" style="flex: 50%">
        <div style="padding: 3px; font-family: system-ui; font-size: x-large;">Input</div>
        <div id="editor-json" style="width: 90%; height: 300px; padding: 10px;"></div>
        <div style="padding: 3px; font-family: system-ui; font-size: x-large;">Output</div>
        <div id="result-json" style="width: 90%; height: 300px; padding: 10px;"></div>
      </div>
    </div>
    <button id="refresh">Refresh</button>
  </body>
</html>
