<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PIMO Play</title>
  </head>
  <body>
    <div id="loading" style="background: rgba(255, 255, 255, 1); position: fixed; width: 100%; height: 100%; left: 0; top: 0; z-index: 10; text-align: center"><p style="position: absolute; width: 100%; top: 50%; text-align: center">Loading...</p></div>

    <div class="mb-5 flex space-x-4 items-baseline bg-black text-white">
      <div class="m-5 font-sans text-4xl font-bold"><a id="reset-link" class="cursor-pointer">PIMO Play</a></div>
      <div class="text-slate-200 text-sm flex-grow">
        A playground for
        <a href="https://github.com/CGI-FR/PIMO/tree/{{ version }}" target="_blank" rel="noopener noreferrer" class="hover:underline">pimo {{ version }}</a>
      </div>
      <div class="dropdown">
        <button class="dropbtn" id="dropdown-button">Dropdown
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
          <button type="button" class="btn btn-default navbar-btn pull-right" id="btnShare">
            <span class="glyphicon glyphicon-share"></span>Share : copy link555
          </button>
          <button type="button" class="btn btn-default navbar-btn pull-right">
            <span class="glyphicon glyphicon-share" aria-hidden="true"></span>Export as Venom Test
          </button>
        </div>
      </div>
    </div>

    <div class="px-4 md:px-8 lg:px-16">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:gap-8">
        <div class="flex flex-col">
          <div class="flex-none font-sans text-xl pb-2">Masking Configuration</div>
          <div class="grow shadow-lg h-[300px] md:h-[600px]" id="editor-yaml"></div>
        </div>

        <div class="flex flex-col">
          <div class="flex-none font-sans text-xl pb-2">Input</div>
          <div class="grow shadow-lg h-[300px] md:h-full" id="editor-json"></div>

          <div class="flex-none font-sans text-xl py-2" id="label-output">
            <span>Output</span>
            <a href="#" id="refresh-button" class="hidden text-md font-medium">↻</a>
            <svg xmlns="http://www.w3.org/2000/svg" id="refresh-spinner" class="animate-spin h-5 w-5 inline" viewBox="0 0 14 14">
              <g fill="none" fill-rule="evenodd">
                <circle cx="7" cy="7" r="6" stroke="#000" stroke-opacity=".1" stroke-width="2" />
                <path fill="#000" fill-opacity=".1" fill-rule="nonzero" d="M7 0a7 7 0 0 1 7 7h-2a5 5 0 0 0-5-5V0z" />
              </g>
            </svg>
          </div>
          <div class="grow shadow-lg h-[300px] md:h-full" id="result-json"></div>
        </div>
      </div>

      <div class="flex-none font-sans text-lg text-red-500" id="result-error"></div>

      <div class="flex flex-col md:flex-row mt-5 gap-2 justify-evenly">
        <div>
          <h3 class="text-lg">Data Generation</h3>
          <a id="example-generation" class="text-blue-400 visited:text-purple-400 text-sm underline block cursor-pointer"></a>
        </div>
        <div>
          <h3 class="text-lg">Data Anonymization</h3>
          <a id="example-anonymization" class="text-blue-400 visited:text-purple-400 text-sm underline block cursor-pointer"></a>
        </div>
        <div>
          <h3 class="text-lg">Data Pseudonymization</h3>
          <a id="example-pseudonymization" class="text-blue-400 visited:text-purple-400 text-sm underline block cursor-pointer"></a>
        </div>
        <div>
          <h3 class="text-lg">Other</h3>
          <a id="example-other" class="text-blue-400 visited:text-purple-400 text-sm underline block cursor-pointer"></a>
        </div>
      </div>
    </div>
  </body>
</html>
