@tailwind base;
@tailwind components;
@tailwind utilities;

.dev-container .tab {
    height: 20px;
    line-height: 20px;
    box-sizing: border-box;
    color: #999;
    padding: 0 8px;
    border: 1px solid #999;
    border-bottom: 0;
    cursor: pointer;
    float: left;
}

.dev-container .tab.active {
    color: #000;
    border-bottom: 1px solid #fff;
}